.button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn1 {
  margin-bottom: 30px;
  margin-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20%;
  padding-bottom: 20%;
}

#btn2 {
  margin-bottom: 0px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20%;
  padding-bottom: 20%;
}

#ropeKnot{
    width: 80px;
    height:80px;
    position:relative;
    top: 120px;
    z-index: 2;
    bottom: initial;
}
 
#rope{
  width: 200px;
  height:250px;
  position:relative;
  bottom: 50px;
  right:2px;
}
.dot{
  background-color: red;
  width:2rem;
  height:2rem;
  border-radius: 50%;
  position:absolute;
  transform: translate(-50%, -50%);
}