/* css selector for all elements */
body {
  background-color: green;
  overflow-y: hidden;
  overflow-x: hidden;
}

.app-wrapper{
  display: flex;
  justify-content: center;
}


.button-div {
  background-image: url(assets/grass.jpg);
  background-size:400px 800px ;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  resize:none;
  width:400px;
  height:800px;

}

#fullscreenbtn{
  background-color: Transparent;
  border: none;
  background-image: url(assets/fullscreenbtn.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

#btn1 {
  background-color: Transparent;
  border: none;
  background-image: url(assets/hand2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin-top: 20px;
}

#btn2 {
  background-color: Transparent;
  border: none;
  background-image: url(assets/hand1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
}

#ropeKnot{
    width: 80px;
    height:80px;
    position:relative;
    top: 110px;
    z-index: 2;
    bottom: initial;
}
 
#rope{
  width: 20px;
  height:200px;
  position:relative;
  bottom: 30px;
}
.dot{
  background-color: red;
  width:5rem;
  height:5rem;
  border-radius: 50%;
  position:absolute;
  transform: translate(-50%, -50%);
}

#border {
  width: 20px;
  height: 400px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  margin-left: 50px;
}

#zone {
  width: 20px;
  height: 60px;
  background-color: lightgray;
}

#slider {
  width: 20px;
  height: 50px;
  background: rgb(46, 182, 216);
  position: relative;
  animation: myfirst 15s infinite;
}

@keyframes myfirst {
  0%   {background: rgb(46, 182, 216); left: 0px; top: 0px;}
  25%  {background: yellow; left: 0px; top: 200px;}
  50%  {background: palevioletred; left: 0px; top: 0px;}
  75%  {background: green; left: 0px; top: 200px;}
  100% {background: rgb(46, 182, 216); left: 0px; top: 0px;}

  0%   {top: -250px;}
  25%  {top: 250px;}
  50%  {top: -250px;}
  75%  {top: 250px;}
  100%  {top: -250px;}
}
