
/* css selector for all elements */
body {
  background-image: url(assets/grass.jpg);
  background-size: contain;
  overflow-y: hidden;
  overflow-x: hidden;
}


.button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn1 {
  background-color: Transparent;
  border: none;
  background-image: url(assets/hand2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  margin-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20%;
  padding-bottom: 20%;
}

#btn2 {
  background-color: Transparent;
  border: none;
  background-image: url(assets/hand1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20%;
  padding-bottom: 20%;
}

#ropeKnot{
    width: 80px;
    height:80px;
    position:relative;
    top: 110px;
    z-index: 2;
    bottom: initial;
}
 
#rope{
  width: 20px;
  height:200px;
  position:relative;
  bottom: 30px;
}
.dot{
  background-color: red;
  width:5rem;
  height:5rem;
  border-radius: 50%;
  position:absolute;
  transform: translate(-50%, -50%);
}